body{
    font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
#pfp{
    height: 30px;
    width:30px;
    border-radius: 100%;
}
#navbari{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.paragraf{
    color: gray;
    font-weight: 400;
}
#netflix{
    height: 6em;
    width: 25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: -2px 0px 14px 3px rgba(119,119,119,0.66); 
    box-shadow: -2px 0px 14px 3px rgba(119,119,119,0.66);
border-radius: 10px;
}
#net{
    display: block;
   
}
#fotoja{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

#billi{
    display: flex;
    justify-content: space-evenly;
}
#button{ 
    font-weight: 400;
   color: blue;
    border: 1px solid blue;
    border-radius: 4px;
    width:55px
}
#proces{
    font-weight: 400;
    color: #FFBB0B;
    border: 1px solid #FFBB0B;
    border-radius: 4px;
    width:95px
    
}
#balance{
    width: 488px;
    height: 154px;
    background-color: #0B69FF;
    display: flex;
    justify-content: space-between;
    color: white;
    border-radius: 10px;
    padding: 20px;
}
#primary{
    display: flex;
}
#bashk{
    display: flex;
    align-items: center;
    margin-bottom: -49px;
    margin-left: -30px;
}
#bashk2{
    display: flex;
    align-items: center;
    margin-bottom: -49px;
    margin-left: -30px;
}

